<md-content layout="row" flex layout-align="center center" class="md-whiteframe-z1 md-padding">

  <form class="form" flex="33" name="loginForm" ng-submit="login(loginForm)" novalidate autocomplete="off">
    <p class="help-block ftr-error" ng-show="error">{{ error }}</p>

    <md-input-container>
      <label for="email">Email</label>
      <input type="text" name="email" id="email" class="form-control" ng-model="user.email" autocomplete="off" required />
    </md-input-container>

    <md-input-container>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" class="form-control" ng-model="user.password" autocomplete="off" required />
    </md-input-container>

    <div layout layout-align="end center">
      <md-button class="md-raised md-primary">Login</md-button>
    </div>
  </form>

</md-content>
