<md-content layout="row" layout-align="center start" class="md-default-theme" flex md-padding>
	<form flex="80" name="addform" novalidate autocomplete="off">
		<input type="hidden" value="{{::user.id}}" name="author_id" />
		<div layout="column">
			<div layout="row" layout-align="space-between center" layout-margin>
				<div flex="10" layout="row" layout-align="start center">
					<span>Languages</span>
				</div>
				<div layout="row" layout-align="start center" layout-margin>
					<!-- Implement directive working directly with skill model -->
					<md-checkbox ng-model="languages.en" ng-disabled="initialLanguages.en" ng-click="checkLanguages('en')">EN</md-checkbox>
					<md-checkbox ng-model="languages.ru" ng-disabled="initialLanguages.ru" ng-click="checkLanguages('ru')">RU</md-checkbox>
					<md-checkbox ng-model="languages.ua" ng-disabled="initialLanguages.ua" ng-click="checkLanguages('ua')">UA</md-checkbox>
				</div>
				<div flex="20" ng-if="action === 'update'">
					<md-switch ng-model="skill.active" aria-label="Active?" ng-change="activateValidation()" ng-disabled="!skill.foot_groups || !skill.foot_groups.length">
					  Active: {{skill.active?'YES':'NO' }}
					</md-switch>
				</div>
				<div layout="row" layout-align="end center" layout-margin>
					<md-button ng-if="action === 'update'" class="md-primary md-raised" ui-sref=".foots">
						Edit foots
					</md-button>
					<md-button ng-class="{'md-accent' : addform.$dirty }" ng-click="reset()">
						Reset
					</md-button>
					<md-button ng-if="action === 'create'" class="md-primary" ng-class="{'md-raised' : addform.$valid}" ng-click="submit(addform.$valid)">
						Create new skill
					</md-button>
					<md-button ng-if="action === 'update'" class="md-primary" ng-class="{'md-raised' : addform.$valid}" ng-click="submit(addform.$valid)">
						Update
					</md-button>
				</div>
			</div>
			<div layout="row" flex layout-margin>
				<div flex="10" layout="column" layout-align="center center">
					<span>Name</span>
				</div>
				<md-input-container flex ng-class="{'md-input-invalid': addform.name_en.$invalid && addform.$submitted}" ng-if="languages.en">
					<label>en</label>
					<input name="name_en" type="text" ng-model="skill.name.en" ng-required="languages.en" />
					<div ng-messages="addform.name_en.$error" ng-if="addform.$submitted || addform.name_en.$touched">
						<div ng-message="required">This is required</div>
					</div>
				</md-input-container>
				<md-input-container flex ng-class="{'md-input-invalid': addform.name_ru.$invalid && addform.$submitted}" ng-if="languages.ru">
					<label>ru</label>
					<input name="name_ru" type="text" ng-model="skill.name.ru" ng-required="languages.ru" />
					<div ng-messages="addform.name_ru.$error" ng-if="addform.$submitted || addform.name_ru.$touched">
						<div ng-message="required">This is required</div>
					</div>
				</md-input-container>
				<md-input-container flex ng-class="{'md-input-invalid': addform.name_ua.$invalid && addform.$submitted}" ng-if="languages.ua">
					<label>ua</label>
					<input name="name_ua" type="text" ng-model="skill.name.ua" ng-required="languages.ua" />
					<div ng-messages="addform.name_ua.$error" ng-if="addform.$submitted || addform.name_ua.$touched">
						<div ng-message="required">This is required</div>
					</div>
				</md-input-container>
			</div>
			<div layout="row" flex layout-margin>
				<div flex="10" layout="column" layout-align="center center">
					<span>Tags</span>
				</div>
				<md-input-container flex ng-if="languages.en">
					<label>en</label>
					<input name="tags_en" type="text" placeholder="Comma separated..." ng-model="skill.tags.en" />
				</md-input-container>
				<md-input-container flex ng-if="languages.ru">
					<label>ru</label>
					<input name="tags_ru" type="text" placeholder="Comma separated..." ng-model="skill.tags.ru" />
				</md-input-container>
				<md-input-container flex ng-if="languages.ua">
					<label>ua</label>
					<input name="tags_ua" type="text" placeholder="Comma separated..." ng-model="skill.tags.ua" />
				</md-input-container>
			</div>
			<div layout="row" flex layout-margin>
				<div flex="10" layout="column" layout-align="center center">
					<span>Misc</span>
				</div>
				<md-input-container flex ng-class="{'md-input-invalid': addform.category_id.$invalid && addform.$submitted}">
					<label>Category</label>
					<md-select name="category_id" placeholder="Category..." ng-model="skill.category_id" required>
						<md-option ng-repeat="category in categories" value="{{category._id}}">{{category.name[user.language || 'en']}}</md-option>
					</md-select>
					<div ng-messages="addform.category_id.$error" ng-if="addform.$submitted || addform.category_id.$touched">
						<div ng-message="required">This is required</div>
					</div>
				</md-input-container>
				<md-input-container flex>
					<label>Budget</label>
					<input type="text" name="budget" ng-model="skill.budget" />
				</md-input-container>
				<md-input-container flex>
					<label>Duration (months)</label>
					<input type="number" ng-model="skill.duration_total" />
				</md-input-container>
			</div>
			<div layout="row" flex layout-margin>
				<!-- Implement directive working directly with skill model -->
				<div flex="10" layout="column" layout-align="center center">Goals</div>
				<md-input-container flex ng-if="languages.en">
					<label>en</label>
					<input type="text" ng-model="goal.name.en" />
				</md-input-container>
				<md-input-container flex ng-if="languages.ru">
					<label>ru</label>
					<input type="text" ng-model="goal.name.ru" />
				</md-input-container>
				<md-input-container flex ng-if="languages.ua">
					<label>ua</label>
					<input type="text" ng-model="goal.name.ua" />
				</md-input-container>
				<div flex="1" layout="column" layout-align="center start">
					<md-button class="md-accent md-hue-1 md-button-sm" ng-click="addGoal($event)" aria-label="Add goal">
						<span class="icon-plus"></span>
					</md-button>
				</div>
			</div>
			<div layout="row" flex class="add-skill__goals-container" ng-if="skill.goals">
				<div flex="10"></div>
				<div flex layout="row">
					<div layout="column" flex layout-margin ng-if="languages.en">
						<md-input-container ng-repeat="g_en in skill.goals.en track by $index">
							<input type="text" value="{{ g_en }}" aria-label="{{ g_en }}" disabled>
						</md-input-container>
					</div>
					<div layout="column" flex layout-margin ng-if="languages.ru">
						<md-input-container ng-repeat="g_ru in skill.goals.ru track by $index">
							<input type="text" value="{{ g_ru }}" aria-label="{{ g_ru }}" disabled>
						</md-input-container>
					</div>
					<div layout="column" flex layout-margin ng-if="languages.ua">
						<md-input-container ng-repeat="g_ua in skill.goals.ua track by $index">
							<input type="text" value="{{ g_ua }}" aria-label="{{ g_ua }}" disabled>
						</md-input-container>
					</div>
					<div layout="column" flex="1" layout-align="start start">
						<md-button ng-repeat="idx in maxArrLength('goals') track by $index" class="md-warn md-hue-1 md-button-sm delete-goal" ng-click="removeGoal($index)" aria-label="Remove goal"><span class="icon-cross"></span></md-button>
					</div>
				</div>
			</div>
			<div layout="row" flex class="add-skill__descriptions-container block-padding" layout-margin>
				<div flex="10" layout="column" layout-align="start center">
					<span>Description</span>
					<md-button ng-click="description.toggle('en')" ng-if="languages.en" class="md-primary md-hue-1 md-button-sm" ng-class="{'md-raised' : description.active === 'en'}">
						en
					</md-button>
					<md-button ng-click="description.toggle('ru')" ng-if="languages.ru" class="md-primary md-hue-1 md-button-sm" ng-class="{'md-raised' : description.active === 'ru'}">
						ru
					</md-button>
					<md-button ng-click="description.toggle('ua')" ng-if="languages.ua" class="md-primary md-hue-1 md-button-sm" ng-class="{'md-raised' : description.active === 'ua'}">
						ua
					</md-button>
				</div>
				<div flex>
					<!-- Implement directive working directly with skill model -->
					<md-input-container ng-if="languages.en && description.active === 'en'" flex>
						<textarea ng-model="skill.description.en" name="description_en" class="text-angular-h200" ng-required="languages.en" aria-label="Description"></textarea>
						<div ng-messages="addform.description_en.$error" ng-if="addform.$submitted || addform.description_en.$touched">
							<div ng-message="required">Description in English is required</div>
						</div>
					</md-input-container>
					<md-input-container ng-if="languages.ru && description.active === 'ru'" flex>
						<textarea ng-model="skill.description.ru" name="description_ru" class="text-angular-h200" ng-required="languages.ru" aria-label="Description"></textarea>
						<div ng-messages="addform.description_ru.$error" ng-if="addform.$submitted || addform.description_ru.$touched">
							<div ng-message="required">Description in Russian is required</div>
						</div>
					</md-input-container>
					<md-input-container ng-if="languages.ua && description.active === 'ua'" flex>
						<textarea ng-model="skill.description.ua" name="description_ua" class="text-angular-h200" ng-required="languages.ua"  aria-label="Description"></textarea>
						<div ng-messages="addform.description_ua.$error" ng-if="addform.$submitted || addform.description_ua.$touched">
							<div ng-message="required">Description in Ukrainian is required</div>
						</div>
					</md-input-container>
				</div>
			</div>
			<div layout="row" flex class="add-skill__advices-container block-padding" layout-margin>
				<!-- Implement directive working directly with skill model -->
				<div flex="10" layout="column" layout-align="start center">
					<span>Advices</span>
					<md-button ng-click="advice.toggle('en')" ng-if="languages.en" class="md-primary md-hue-1 md-button-sm" ng-class="{'md-raised' : advice.active === 'en'}">
						en
					</md-button>
					<md-button ng-click="advice.toggle('ru')" ng-if="languages.ru" class="md-primary md-hue-1 md-button-sm" ng-class="{'md-raised' : advice.active === 'ru'}">
						ru
					</md-button>
					<md-button ng-click="advice.toggle('ua')" ng-if="languages.ua" class="md-primary md-hue-1 md-button-sm" ng-class="{'md-raised' : advice.active === 'ua'}">
						ua
					</md-button>
					<md-button class="md-accent md-button-sm" ng-click="advice.add()" aria-label="Add goal">
						<span class="icon-plus"></span>
					</md-button>
				</div>
				<div layout="row" flex>
					<div flex text-angular ng-if="languages.en && advice.active === 'en'" ng-model="advice.text.en" name="advice_en" class="text-angular-h100"></div>
					<div flex text-angular ng-if="languages.ru && advice.active === 'ru'" ng-model="advice.text.ru" name="advice_ru" class="text-angular-h100"></div>
					<div flex text-angular ng-if="languages.ua && advice.active === 'ua'" ng-model="advice.text.ua" name="advice_ua" class="text-angular-h100"></div>
				</div>
			</div>
			<div layout="row" flex class="add-skill__advices-container block-padding">
				<div flex="10"></div>
				<div flex layout="row">
					<div layout="column" flex layout-margin ng-if="languages.en">
						<md-input-container ng-repeat="adv in skill.expert_advices.en track by $index">
							<input type="text" value="{{adv | htmlToPlainText}}" aria-label="advice_en_{{$index}}" disabled>
						</md-input-container>
					</div>
					<div layout="column" flex layout-margin ng-if="languages.ru">
						<md-input-container ng-repeat="adv in skill.expert_advices.ru track by $index">
							<input type="text" value="{{adv | htmlToPlainText}}" aria-label="advice_ru_{{$index}}" disabled>
						</md-input-container>
					</div>
					<div layout="column" flex layout-margin ng-if="languages.ua">
						<md-input-container ng-repeat="adv in skill.expert_advices.ua track by $index">
							<input type="text" value="{{adv | htmlToPlainText}}" aria-label="advice_ua_{{$index}}" disabled>
						</md-input-container>
					</div>
					<div flex="1" layout="column" layout-align="start start">
						<md-button ng-repeat="idx in maxArrLength('expert_advices') track by $index" class="md-warn md-hue-1 md-button-sm delete-advice" ng-click="advice.remove($index)" aria-label="Remove goal"><span class="icon-cross"></span></md-button>
					</div>
				</div>
			</div>
			<div layout="row" flex ng-if="action === 'update'" class="add-skill__image-container block-padding" layout-margin>
				<div flex="10" layout="column" layout-align="center center">
					Image
				</div>
				<div flex="20">
					<md-button ngf-select ng-model="skill.image" name="file" accept="image/*" class="md-raised md-accent">
						Select image
					</md-button>
				</div>
				<div flex="80" layout="row" layout-align="center center" layout-margin>
					<img ngf-thumbnail="skill.image" class="img-preview">
				</div>
			</div>
			<div layout="row" flex class="add-skill__bottom-line block-padding" layout-align="end center" layout-margin>
				<md-button ng-if="action === 'update'" class="md-primary md-raised" ui-sref=".foots">
					Edit foots
				</md-button>
				<md-button ng-class="{'md-accent' : addform.$dirty }" ng-click="reset()">
					Reset
				</md-button>
				<md-button ng-if="action === 'create'" class="md-primary" ng-class="{'md-raised' : addform.$valid}" ng-click="submit(addform.$valid)">
					Create new skill
				</md-button>
				<md-button ng-if="action === 'update'" class="md-primary" ng-class="{'md-raised' : addform.$valid}" ng-click="submit(addform.$valid)">
					Update
				</md-button>
			</div>
		</div>
	</form>
</md-content>
