<form name="addform" ng-submit="submit(addform.$valid)" novalidate autocomplete="off">
	<md-dialog>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Add User</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()" aria-label="Close"><span class="icon-cross"></span></md-button>
			</div>
		</md-toolbar>

		<md-dialog-content>
			<div layout="row" class="input-row" layout-margin>
				<md-input-container flex ng-class="{'md-input-invalid': addform.first_name.$invalid && addform.$submitted}">
					<label>First Name</label>
					<input name="first_name" type="text" ng-model="data.first_name" required>
					<div ng-messages="addform.first_name.$error" ng-if="addform.$submitted || addform.first_name.$touched">
						<div ng-message="required">This is required</div>
					</div>
				</md-input-container>
				<md-input-container flex ng-class="{'md-input-invalid': addform.last_name.$invalid && addform.$submitted}">
					<label>Last Name</label>
					<input name="last_name" type="text" ng-model="data.last_name" required>
					<div ng-messages="addform.last_name.$error" ng-if="addform.$submitted || addform.last_name.$touched">
						<div ng-message="required">This is required</div>
					</div>
				</md-input-container>
			</div>

			<div layout="row" class="input-row" layout-margin>
				<md-input-container flex ng-class="{'md-input-invalid': addform.email.$invalid && addform.$submitted}">
					<label>Email</label>
					<input name="email" type="email" ng-model="data.email" validate-email required>
					<div ng-messages="addform.email.$error" ng-if="addform.$submitted || addform.email.$touched">
						<div ng-message="required">This is required</div>
						<div ng-message="email">Not valid email</div>
					</div>
				</md-input-container>
			</div>

			<div layout="row" class="input-row" layout-margin>
				<md-input-container flex ng-class="{'md-input-invalid': addform.password.$invalid && addform.$submitted}">
					<label>Password</label>
					<input name="password" type="password" ng-model="data.password" md-minlength="8" required>
					<div ng-messages="addform.password.$error" ng-if="addform.$submitted || addform.password.$touched">
						<div ng-message="required">This is required</div>
					</div>
				</md-input-container>
				<md-input-container flex ng-class="{'md-input-invalid': addform.password_confirm.$invalid && addform.$submitted}">
					<label>Confirm password</label>
					<input name="password_confirm" type="password" ng-model="data.password_confirm" validate-matching-field="data.password" required>
					<div ng-messages="addform.password_confirm.$error" ng-if="addform.$submitted || addform.password_confirm.$touched">
						<div ng-message="required">This is required</div>
						<div ng-message="validateMatchingField">Passwords do not match</div>
					</div>
				</md-input-container>
			</div>

			<div layout="row" class="input-row" layout-margin>
				<md-input-container flex ng-class="{'md-input-invalid': addform.role.$invalid && addform.$submitted}">
					<label>Role</label>
					<md-select name="role" ng-model="data.role" required>
						<md-option value="user">user</md-option>
						<md-option value="manager">manager</md-option>
						<md-option value="admin">admin</md-option>
					</md-select>
					<div ng-messages="addform.role.$error" ng-if="addform.$submitted || addform.role.$touched">
						<div ng-message="required">This is required</div>
					</div>
				</md-input-container>
				<md-input-container flex ng-class="{'md-input-invalid': addform.language.$invalid && addform.$submitted}">
					<label>Language</label>
					<md-select name="language" ng-model="data.language" required>
						<md-option value="en">en</md-option>
						<md-option value="ru">ru</md-option>
						<md-option value="ua">ua</md-option>
					</md-select>
					<div ng-messages="addform.language.$error" ng-if="addform.$submitted || addform.language.$touched">
						<div ng-message="required">This is required</div>
					</div>
				</md-input-container>
			</div>
		</md-dialog-content>

		<div layout="row" class="md-dialog-footer" layout-margin>
			<md-button class="md-primary md-raised">Save</md-button>
			<md-button class="md-raised" type="button" ng-click="cancel()">Cancel</md-button>
		</div>
	</md-dialog>
</form>
