<md-content layout="column" class="md-default-theme" layout-fill flex>
	<md-card class="md-default-theme" flex layout="column">

		<md-data-table-toolbar ng-hide="grid.selected.length" flex="1">
			<h2 class="md-title">Users</h2>
			<div flex></div>
			<input type="text" ng-model="grid.filter.predicate" ng-model-options="grid.filter.options" placeholder="search">
			<md-button class="md-primary md-raised" ng-click="addUser($event)" type="button"><span class="icon-user-plus"></span> Add user</md-button>
		</md-data-table-toolbar>

		<md-data-table-toolbar class="alternate" ng-show="grid.selected.length" layout-align="space-between">
			<div>{{grid.selected.length}} {{grid.selected.length > 1 ? 'items' : 'item'}} selected</div>
			<md-button class="md-primary md-raised" ng-click="deleteUser($event)" type="button"><span class="icon-cross"></span> Delete users</md-button>
		</md-data-table-toolbar>


		<md-data-table-container flex>
			<table class="md-primary" md-data-table md-row-select="grid.selected" md-progress="deferred">
				<thead md-order="grid.order" md-trigger="onOrderChange">
				<tr>
					<th name="First Name" order-by="first_name"></th>
					<th name="Last Name" order-by="last_name"></th>
					<th name="Email" order-by="email"></th>
					<th name="Role" order-by="role"></th>
					<th name="Language" order-by="language"></th>
				</tr>
				</thead>
				<tbody>
				<tr md-auto-select ng-repeat="item in grid.items | filter: grid.filter.filterFunction | orderBy: grid.order | limitTo: grid.limit : (grid.page -1) * grid.limit" md-disable-select="item.email === 'admin@footurum.com'">
					<td>{{item.first_name}}</td>
					<td>{{item.last_name}}</td>
					<td>{{item.email}}</td>
					<td>{{item.role}}</td>
					<td>{{item.language}}</td>
				</tr>
				</tbody>
			</table>
		</md-data-table-container>

		<md-data-table-pagination md-limit="grid.limit" md-page="grid.page" md-total="{{grid.items.length}}" md-trigger="onPaginationChange" flex="1"></md-data-table-pagination>
	</md-card>
</md-content>
