@import '../assets/fonts.scss';

$color-error: rgb(244,67,54);
$font-size-base: 14px;
$dark-links-color-active: white;
$dark-links-color: darken($dark-links-color-active, 30%);
$md-toolbar-min-height: 64px;

body {
  background: #f7f7f7;
  font-size: $font-size-base;
}

pre, code {
  display: block;
}

pre code {
  padding: 20px;
}

*:focus {
  outline: 0;
  outline: none;
}

input {
  min-height: 20px;
  line-height: 20px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  background:rgba(255,255,255,0) !important;
}

.md-button {
  padding: 6px 10px;
  line-height: 14px;
  min-height: 14px;
}

.md-button.md-button-sm {
  min-width: 40px;
}

md-toolbar {
  min-height: $md-toolbar-min-height;
}

.container {
  background: #f7f7f7;
}

.content-wrap {
  width: 100%;
  padding: 0 40px;
}

md-input-container {
 &.md-input-invalid {
   .md-select-value, label, [ng-message]  {
     color: $color-error;
   }
 }
}

md-checkbox .md-label {
  border: none;
}

.text-center {
  text-align: center;
}

// Component styles are injected through grunt
// injector
@import 'components/ui/header/nav.scss';
@import 'components/ui/modal/modal.scss';
@import 'components/ui/text-editor/text-editor.scss';
@import 'screens/base/footer.scss';
@import 'screens/manager/skills/foots/foots.scss';
@import 'screens/manager/skills/skills.scss';
@import 'screens/public/login/login.scss';
// endinjector
