md-dialog {

	min-width: 600px;
	flex-direction: column;

	md-dialog-content {
		display: flex;
		flex: 1;
		max-width:800px;
		max-height:810px;
	}

	/*.md-dialog-header {
		display: flex;
		font-size: 14px;
		font-weight: bold;
		padding: 24px;
		color: rgba(255, 255, 255, 0.87);
		text-transform: uppercase;
		background: #3f51b5;
		box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.16);
	}*/

	.md-dialog-footer {
		border-top: 1px solid rgba(0, 0, 0, 0.12);
		display: flex;
		box-sizing: border-box;
		align-items: center;
		justify-content: flex-end;
		padding: 16px;
		min-height: 40px;
		margin: 0;
		order: 1;
	}
}
