<md-content layout="column" layout-fill class="md-default-theme" flex>
	<md-card class="md-default-theme" flex layout="column">

		<md-data-table-toolbar ng-hide="grid.selected.length" layout-align="space-between">
			<h2 class="md-title">Skills</h2>
			<div flex layout="row" layout-align="start center">
				<div layout="row" layout-align="start center" flex="33" offset="5">
					<md-list-item>
						<md-button ng-click="setLang('en')" class="md-primary md-hue-1 md-button-sm" ng-class="{'md-raised' : grid.language === 'en'}">
							en
						</md-button>
					</md-list-item>
					<md-list-item>
						<md-button ng-click="setLang('ru')" class="md-primary md-hue-1 md-button-sm" ng-class="{'md-raised' : grid.language === 'ru'}">
							ru
						</md-button>
					</md-list-item>
					<md-list-item>
						<md-button ng-click="setLang('ua')" class="md-primary md-hue-1 md-button-sm" ng-class="{'md-raised' : grid.language === 'ua'}">
							ua
						</md-button>
					</md-list-item>
				</div>
			</div>
			<input type="text" ng-model="grid.filter.predicate" ng-model-options="grid.filter.options" placeholder="search( {{grid.language}} )">
			<md-button class="md-primary md-raised" ui-sref="root.manager.skills.add" type="button"><span class="icon-user-plus"></span> Add skill</md-button>
		</md-data-table-toolbar>

		<md-data-table-toolbar class="alternate" ng-show="grid.selected.length" layout-align="space-between">
			<div>{{grid.selected.length}} {{grid.selected.length > 1 ? 'items' : 'item'}} selected</div>
			<div>
				<md-button ng-show="grid.selected.length === 1" class="md-primary md-raised" ng-click="editSkillFoots($event)" type="button">Edit foots</md-button>
				<md-button ng-show="grid.selected.length === 1" class="md-primary md-raised" ng-click="editSkill($event)" type="button"><span class="icon-pencil"></span> Edit skill</md-button>
				<md-button class="md-accent md-raised" ng-click="deleteSkill($event)" type="button"><span class="icon-cross"></span> Delete skills</md-button>
			</div>
		</md-data-table-toolbar>
		
		<md-data-table-container flex>
			<table class="md-primary" md-data-table md-row-select="grid.selected" md-progress="deferred">
				<thead md-order="grid.order" md-trigger="onOrderChange">
				<tr>
					<th name="Name" order-by="name"></th>
					<th name="Category" order-by="category"></th>
					<th name="Active" order-by="active"></th>
					<th name="Description" order-by="description"></th>
					<th name="Tags" order-by="tags"></th>
				</tr>
				</thead>
				<tbody>
				<tr md-auto-select ng-repeat="item in grid.items | filter: grid.filter.filterFunction | orderBy : grid.order | limitTo: grid.limit : (grid.page -1) * grid.limit">
					<td>
						<div layout="row" layout-align="space-between center">
							<div flex>{{item.name}}</div>
							<div class="language-badges ftr-badge">
								{{ item.languages.join(', ') }}
							</div>
						</div>
					</td>
					<td>{{item.category}}</td>
					<td>{{item.active ? 'yes' : 'no'}}</td>
					<td>{{item.description}}</td>
					<td>{{item.tags.join(', ')}}</td>
				</tr>
				</tbody>
			</table>
		</md-data-table-container>
		
		<md-data-table-pagination md-limit="grid.limit" md-page="grid.page" md-total="{{grid.items.length}}" md-trigger="onPaginationChange" flex="1"></md-data-table-pagination>
	</md-card>
</md-content>
