.block-padding {
  padding: 10px 0 0 0;
}

div.ftr-error {
  color: red;
  font-size: 12px;
}

img.img-preview {
  max-width: 50%;
}

.ftr-badge {
  margin: 0 0 0 8px;
  background-color: #259b24;
  color: white;
  padding: 2px 4px;
  border-radius: 4px;
}

.foot-group-column {
  padding: 10px;
}

.text-ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.md-button {
  &.delete-goal, &.delete-advice {
    margin-bottom: 27px;
  }
}

