<md-dialog>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Add Foot Group</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()" aria-label="Close"><span class="icon-cross"></span></md-button>
		</div>
	</md-toolbar>

	<md-dialog-content>
		<form name="addform" ng-submit="submit(addform.$valid)" novalidate autocomplete="off">
			<div layout="row" class="input-row">
				<md-input-container flex ng-class="{'md-input-invalid': addform.name_en.$invalid && addform.$submitted}">
					<label>Name(en)</label>
					<input name="name_en" type="text" ng-model="data.name.en" ng-required="data.languages_active.en" ng-disabled="!data.languages_active.en">
					<div ng-messages="addform.name_en.$error" ng-if="addform.$submitted || addform.name_en.$touched">
						<div ng-message="required">This is required</div>
					</div>
				</md-input-container>
				<md-input-container flex ng-class="{'md-input-invalid': addform.name_ru.$invalid && addform.$submitted}">
					<label>Name(ru)</label>
					<input name="name_ru" type="text" ng-model="data.name.ru" ng-required="data.languages_active.ru" ng-disabled="!data.languages_active.ru">
					<div ng-messages="addform.name_ru.$error" ng-if="addform.$submitted || addform.name_ru.$touched">
						<div ng-message="required">This is required</div>
					</div>
				</md-input-container>
				<md-input-container flex ng-class="{'md-input-invalid': addform.name_ua.$invalid && addform.$submitted}">
					<label>Name(ua)</label>
					<input name="name_ua" type="text" ng-model="data.name.ua" ng-required="data.languages_active.ua" ng-disabled="!data.languages_active.ua">
					<div ng-messages="addform.name_ua.$error" ng-if="addform.$submitted || addform.name_ua.$touched">
						<div ng-message="required">This is required</div>
					</div>
				</md-input-container>
			</div>
		</form>
	</md-dialog-content>

	<div layout="row" class="md-dialog-footer md-actions" layout-margin>
		<md-button class="md-primary md-raised" ng-click="submit(addform.$valid)">Save</md-button>
		<md-button type="button" ng-click="cancel()">Cancel</md-button>
	</div>
</md-dialog>