<md-content layout="column" layout-align="start center" class="md-default-theme foot-group-list" flex md-padding>
	<div layout-fill layout="row" layout-align="space-between center">
		<md-button onclick="history.back()">&larr; {{ skill.name[ language ] }}</md-button>
		<md-button class="md-primary md-raised" ng-click="updateSkill()">Update skill</md-button>
		<md-button class="md-accent md-raised" ng-click="addGroup()" aria-label="Add new group">
			add foot group
		</md-button>
		<div layout="row" layout-align="center center">
			<md-list-item ng-repeat="lang in skill.languages">
				<md-button ng-click="setLang( lang )" class="md-primary md-hue-1 md-button-sm" ng-class="{'md-raised' : language === lang}">
					{{ lang }}
				</md-button>
			</md-list-item>
		</div>
	</div>
	<div layout-padding layout-wrap layout-fill layout="row" layout-align="space-around start" sv-root sv-on-sort="reorder($item, $partFrom, $partTo, $indexFrom, $indexTo)">
		<md-whiteframe flex-sm="100" flex-md="50" flex-lg="33" flex-gt-lg="30" layout-margin class="md-whiteframe-1dp foot-group-column" flex layout="column" ng-repeat="a_foot_group in footsGrid" sv-part="a_foot_group">
			<md-toolbar class="md-theme-light" layout layout-align="start center">
				<h5 class="md-toolbar-tools">
					<span ng-hide="a_foot_group.editing" ng-click="a_foot_group.editing = true">
						{{ a_foot_group.group_name[ language ] }}
					</span>
					<form ng-show="a_foot_group.editing" ng-submit="a_foot_group.editing = false; updateSkill()" layout="row" layout-align="left center">
						<input type="text" ng-model="a_foot_group.group_name[language]" ng-required />
						<md-button class="md-button-sm md-accent md-raised">Save</md-button>
					</form>
				</h5>
				<md-button ng-hide="a_foot_group.editing" class="md-fab md-mini md-fab-icomoon-align" ng-click="addFoot(a_foot_group.group_id, $index)" aria-label="Add new foot">
					<span class="icon-plus"></span>
				</md-button>
				<md-button ng-hide="a_foot_group.editing" class="md-fab md-mini md-fab-icomoon-align" ng-click="deleteGroup(a_foot_group, $index)" aria-label="Delete group">
					<span class="icon-cross"></span>
				</md-button>
			</md-toolbar>
			<md-content flex>
				<div ng-repeat="foot in a_foot_group" sv-element layout layout-align="start center" layout-padding class="foot">
						<span flex class="text-ellipsis">{{ foot.name[language] }}</span>
						<div>
							<md-button class="md-button-sm" ng-click="editFoot(foot, $index, $parent.$index)">edit</md-button>
							<md-button class="md-button-sm" ng-click="deleteFoot(foot, $index, $parent.$index)">del</md-button>
						</div>
					<md-divider></md-divider>
				</div>
			</md-content>
		</md-whiteframe>
	</div>
</md-content>
