	<md-dialog>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>{{ data.action.charAt(0).toUpperCase() + data.action.substr(1).toLowerCase() }} Foot</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()" aria-label="Close"><span class="icon-cross"></span></md-button>
			</div>
		</md-toolbar>

		<md-dialog-content>
		<form name="addform" ng-submit="submit(addform.$valid)" novalidate autocomplete="off">
			<div layout="row" class="input-row" layout-margin>
				<md-input-container flex ng-class="{'md-input-invalid': addform.name_en.$invalid && addform.$submitted}" ng-if="data.languages.en">
					<label>Name(en)</label>
					<input name="name_en" type="text" ng-model="data.name.en" required>
					<div ng-messages="addform.name_en.$error" ng-if="addform.$submitted || addform.name_en.$touched">
						<div ng-message="required">This is required</div>
					</div>
				</md-input-container>
				<md-input-container flex ng-class="{'md-input-invalid': addform.name_ru.$invalid && addform.$submitted}" ng-if="data.languages.ru">
					<label>Name(ru)</label>
					<input name="name_ru" type="text" ng-model="data.name.ru" required>
					<div ng-messages="addform.name_ru.$error" ng-if="addform.$submitted || addform.name_ru.$touched">
						<div ng-message="required">This is required</div>
					</div>
				</md-input-container>
				<md-input-container flex ng-class="{'md-input-invalid': addform.name_ua.$invalid && addform.$submitted}" ng-if="data.languages.ua">
					<label>Name(ua)</label>
					<input name="name_ua" type="text" ng-model="data.name.ua" required>
					<div ng-messages="addform.name_ua.$error" ng-if="addform.$submitted || addform.name_ua.$touched">
						<div ng-message="required">This is required</div>
					</div>
				</md-input-container>
			</div>
			<div layout="row" class="input-row" layout-align="start center" layout-margin>
				<md-input-container flex>
					<md-checkbox name="practical" ng-model="data.practical" aria-label="Practical?">
					  Practical
					</md-checkbox>
				</md-input-container>
				<md-input-container flex ng-class="{'md-input-invalid': addform.weeks_total.$invalid && addform.$submitted}">
					<label>Weeks</label>
					<input name="weeks_total" type="number" ng-model="data.weeks_total">
					<div ng-messages="addform.weeks_total.$error" ng-if="addform.$submitted || addform.weeks_total.$touched">
						<div ng-message="number">This is number</div>
					</div>
				</md-input-container>
				<md-input-container flex ng-class="{'md-input-invalid': addform.weeks_total.$invalid && addform.$submitted}">
					<label>Times per week</label>
					<input name="tpw" type="number" ng-model="data.tpw">
					<div ng-messages="addform.tpw.$error" ng-if="addform.$submitted || addform.tpw.$touched">
						<div ng-message="number">This is number</div>
					</div>
				</md-input-container>
				<md-input-container flex ng-class="{'md-input-invalid': addform.weeks_total.$invalid && addform.$submitted}">
					<label>Duration (minutes)</label>
					<input name="dpt" type="number" ng-model="data.dpt">
					<div ng-messages="addform.dpt.$error" ng-if="addform.$submitted || addform.dpt.$touched">
						<div ng-message="number">This is number</div>
					</div>
				</md-input-container>
			</div>
			<div layout="row" class="input-row" layout-margin>
				<div layout="column" flex="10" layout-align="start center">
					<span>Description</span>
					<md-radio-group ng-model="data.selectedLanguage">
						<md-radio-button value="en" ng-if="data.languages.en">EN</md-radio-button>
						<md-radio-button value="ru" ng-if="data.languages.ru">RU</md-radio-button>
						<md-radio-button value="ua" ng-if="data.languages.ua">UA</md-radio-button>
					</md-radio-group>
				</div>
				<div ng-if="data.languages.en && data.selectedLanguage === 'en'" flex>
					<div ng-messages="addform.description_en.$error" ng-if="addform.$submitted || addform.description_en.$touched">
						<div ng-message="required">Description in English is required</div>
					</div>
					<div text-angular ng-model="data.description.en" name="description_en" class="text-angular-h100"></div>
				</div>
				<div ng-if="data.languages.ru && data.selectedLanguage === 'ru'" flex>
					<div ng-messages="addform.description_ru.$error" ng-if="addform.$submitted || addform.description_ru.$touched">
						<div ng-message="required">Description in Russian is required</div>
					</div>
					<div text-angular ng-model="data.description.ru" name="description_ru" class="text-angular-h100"></div>
				</div>
				<div ng-if="data.languages.ua && data.selectedLanguage === 'ua'" flex>
					<div ng-messages="addform.description_ua.$error" ng-if="addform.$submitted || addform.description_ua.$touched">
						<div ng-message="required">Description in Ukrainian is required</div>
					</div>
					<div text-angular ng-model="data.description.ua" name="description_ua" class="text-angular-h100"></div>
				</div>
			</div>
			<div layout="row" class="input-row" layout-margin>
				<div flex="20">
					<md-button ngf-select ng-model="data.image" name="file" accept="image/*" class="md-raised md-accent">
						Select image
					</md-button>
				</div>
				<div flex="80" layout="row" layout-align="center center">
					<img ngf-thumbnail="data.image" class="img-preview">
				</div>
			</div>

			</form>
		</md-dialog-content>

		<div layout="row" class="md-dialog-footer md-actions" layout-margin>
			<md-button class="md-primary md-raised" ng-click="submit(addform.$valid)">Save</md-button>
			<md-button class="md-raised" type="button" ng-click="cancel()">Cancel</md-button>
		</div>
	</md-dialog>
