<md-toolbar>
  <ul class="nav" layout="row" layout-align="start end">
    <li flex="1">
      <a ui-sref="root.manager.skills" ui-sref-active="active">
        <span class="icon-rocket"></span> Skills
      </a>
    </li>
    <li flex="1" ng-if="isAdmin">
      <a ui-sref="root.admin.users" ui-sref-active="active">
        <span class="icon-users"></span> Users
      </a>
    </li>
    <li flex="1" ng-if="isAdmin">
      <a href="/admin/guts" target="_blank">
        <span class="icon-database"></span> Database
      </a>
    </li>
    <li flex class="logout">
      <a ng-click="logout()" href="javascript:void(0)">
        <span class="icon-exit"></span> Logout
      </a>
    </li>
  </ul>
</md-toolbar>
