.nav {
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-transform: uppercase;

    li {
        list-style: none;
        margin: 0 30px;
    }

    a {
        display: block;
        height: $md-toolbar-min-height;
        line-height: $md-toolbar-min-height;
        text-decoration: none;
        color: $dark-links-color;
        &.active {
            color: $dark-links-color-active;
        }
    }

    a:hover {
        color: $dark-links-color-active;
    }

    .logout {
        text-align: right;
    }

    span {
        margin-right: 5px;
    }
}
