.ta-editor.ta-html, .ta-scroll-window.form-control {
  min-height: 100px;
  max-height: 600px;
}

.text-angular-h100 .ta-scroll-window.form-control, .text-angular-h100 .ta-editor.ta-html {
  height: 100px;
}

.text-angular-h200 .ta-scroll-window.form-control, .text-angular-h200 .ta-editor.ta-html {
  height: 200px;
}

.text-angular-h300 .ta-scroll-window.form-control, .text-angular-h300 .ta-editor.ta-html {
  height: 300px;
}

.ta-toolbar {
	background-color: #F0F0F0;
	padding: 10px 10px 5px;
	border: 1px solid #EEE;
}

.ta-toolbar .btn-group {
	margin-bottom: 5px;
  display: inline-block;
}

.ta-editor, .white-box {
	padding: 10px;
	background-color: #FFF;
	border: 1px solid #EEE;
}

textarea.ta-bind {
	width: 100%;
}