@font-face {
	font-family: 'icomoon';
	src:url('../assets/fonts/icomoon.eot?1em9z0');
	src:url('../assets/fonts/icomoon.eot?1em9z0#iefix') format('embedded-opentype'),
		url('../assets/fonts/icomoon.ttf?1em9z0') format('truetype'),
		url('../assets/fonts/icomoon.woff?1em9z0') format('woff'),
		url('../assets/fonts/icomoon.svg?1em9z0#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
	content: "\e800";
}
.icon-database:before {
	content: "\e801";
}
.icon-users:before {
	content: "\e802";
}
.icon-user-plus:before {
	content: "\e803";
}
.icon-rocket:before {
	content: "\e804";
}
.icon-plus:before {
	content: "\e805";
}
.icon-cross:before {
	content: "\e806";
}
.icon-exit:before {
	content: "\e807";
}

